ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid black;
}

li:last-child {
    border-right: none;
}

li a:hover:not(.active) {
    background-color: #b9cded;
  }

 .active {
    /* background-color: #04AA6D; */
    text-decoration: underline;
}

a:link {
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

  #bodyAbout {
      display: flex;
      justify-content: center;
      align-items: center;
  }

#header {
    display: flex; 
    justify-content: space-between; 
    padding-left: 50px; 
    padding-right: 50px; 
    padding-top: 35px;
    border-bottom: 3px solid black;
    /* position: fixed;
    width: 94%; */
}

#headerText {
    font-size: x-large;
    padding-right: 10px;
}

#imageBox {
    height: 250px;
    width: 250px;
}

#indexBody {
    display: flex;
    justify-content: center;
    align-items: center;
}

#leftSide {
    display: flex;
    justify-content: center; 
    align-items: center;
}

#projectList {
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 1000px;
}

#project1 {
    display: flex;
    width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    padding: 10px ;
}

#project2 {
    display: flex;
    width: 500px;
    justify-content: center;
    padding: 10px ;
}

#rightSide {
    display: flex;
    justify-content: center; 
    align-items: center;
}

#spinny {
    font-size: large;
    padding-top: 500px;
    animation-name: spin;
    animation-duration: 25000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

#textBox {
    height: 350px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightslategray;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}